<ion-content slot="fixed" class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-col class="form-container"size-xs="12" size-md="6" size-lg="4" size-xl="2"  offset-md="3" offset-lg="4" offset-xl="5" align-self-center >
          <div class="login-header">
            <ion-img src="assets/images/logo.jpg" alt="logo-login" class="login-header_logo"></ion-img>
            <h4 class="login-header_title">Prueba Técnica</h4>
          </div>
          <ion-item>
            <ion-label>
              <ion-icon name="person-outline"></ion-icon>
            </ion-label>
            <ion-input  data-cy="email" class="input-login" formControlName="email" name="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-label>
            <ion-input  data-cy="password" class="input-login" formControlName="password" name="password" type="password" placeholder="Contraseña"  minlength="5" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label-login">Recordar</ion-label>
            <ion-toggle formControlName="reminder" name="reminder" type="boolean"></ion-toggle>
          </ion-item>
          <ion-button  data-cy="btnLogin" type="submit" expand="full" class="btn-login">Acceder</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>