.container{
  --background: url('/assets/images/background.jpg') 0 0/100% 100% no-repeat;
}
.login-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:20px 0;
}
.login-header_title{
  font-weight: bold;
  display: none;
}
.login-header_logo {
  max-width: 50%;
}
.input-login{
  font-size: 12px;
}
.btn-login,.label-login{
 margin: 0;
 font-size: 14px;
 text-transform: capitalize;
 font-weight: bold;
}

//Media query Tablet and + 
@media (min-width: 960px) {
  .form-container{
    margin:15% auto;
    max-width: 350px;
    background-color:#fff;
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
  }
  .btn-login{
    margin: 15px auto;
    max-width: fit-content;
    box-shadow: none;
    --color: #000;
    --background:#fff;
    border:2px solid var(--ion-color-secondary);
    font-weight: bold;
  }
  .input-login{
    font-size: 16px;
  }
  .login-header_title{
    display: block;
  }
  ion-item:last-of-type{
    --border-color:white
  }
   //KeyFrames animation fade
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  } 
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}